<!DOCTYPE html>
<html>
<head>
  <title>RaviBot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div class="app">

  <!-- SIDEBAR -->
  <div class="sidebar">
    <button class="new-chat" onclick="createNewChat()">+ New Chat</button>
    <div class="history" id="chatList"></div>
  </div>

  <!-- OVERLAY -->
  <div class="overlay" onclick="toggleSidebar()"></div>

  <!-- MAIN -->
  <div class="main">

    <!-- TOP -->
    <div class="topbar">
      <div class="left-section">
        <button class="menu-btn" onclick="toggleSidebar()">☰</button>
        <div class="botName">RaviBot</div>
      </div>

     
      <div class="auth">
        <% if (!user) { %>
          <a href="/login" class="login-btn">Login</a>
          <a href="/register">Sign up</a>
        <% } else { %>
          <span><%= user.name %></span>
          <a href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
      <!-- welcome scrreen -->
     <div id="emptyState" class="empty-state">
        <h1>RaviBot</h1>
        <p>What can I help you with today?</p>
      </div>
    <!-- CHAT -->
    <div id="messages" class="messages"></div>

    <!-- TYPING -->
    <div id="typing" class="typing"></div>

    <% if (!user) { %>
      <div class="typing">🔐 Login to save chats</div>
    <% } %>

    <!-- INPUT -->
    <div class="input-area">
      <input id="input" placeholder="Ask anything..." />

      <input type="file" id="imageInput" accept="image/*" hidden />
      <button class="img-btn" onclick="document.getElementById('imageInput').click()">📷</button>

      <button class="mic-btn" onclick="toggleVoice()">🎤</button>

      <div id="wave" class="wave hidden">
        <span></span><span></span><span></span>
      </div>

      <button class="send-btn" onclick="sendMessage()">➤</button>
    </div>

    <p class="footer">
      By messaging Ravibot, you agree to our Terms and Privacy Policy.
    </p>

  </div>
</div>

<script>
function goLogin() {
  window.location.href = "/login";
}
</script>
<script>
  window.isLoggedIn = <%= user ? true : false %>;
</script>
<script src="/js/script.js"></script>

</body>
</html>